.jumbotron{
    background: rgb(238, 238, 141);
    color:black;
    margin-top: 10px;
    image-resolution: 0px;
} 

.footer{
    padding: 10px 10px 0 10px;
        background:rgb(238, 238, 141);
        margin-bottom: 0px;
        margin-top: 0px;
    }

.card-botel {
        flex: 1 200px;
        margin-top: 0px;
    }
.btn-reserva{
    width: 100px;
    border-radius: 0px; 
}

.contenedor-icono svg{
    width:100px;
    height: 200px;
    color: black;


}
